# SQLite database files
DB/*.db
*.db

#images
images/

# macOS Finder
.DS_Store

# Virtual environment folder
gold_app/

# Build and distribution folders
build/
dist/

# Executable and spec files
*.exe
*.spec
__pycache__/

# Ignore Python cache files everywhere
__pycache__/
*.py[cod]

# Just in case any OS-specific or backup files sneak in
*.pyo
*.pyd
*.pdb
*.swp
*~
